<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header (pageTitle)">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<title th:text="${pageTitle}">Home</title>
	<link th:href="@{/css/styles.css}" rel="stylesheet">
	<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">
</head>
<body>
	<div id="LayoutHeaders">
		<h1>localFix</h1>	
		<h2>Search for a Shop by entering your device</h2>
	</div>
	
	<form action="#" th:action="@{/goSearch}">
		Search: <input type="text" name="search">
	</form>
	
	
	
	<footer th:fragment="footer">
		<div>
			<a href="/goRegisterCustomer" th:href="@{/goRegisterCustomer}">Register Customer</a> ||
			<a href="/goRegisterOwner" th:href="@{/goRegisterOwner}">Register Shop Owner</a> ||
			<a href="/viewAccount" th:href="@{/viewAccount}">View Account</a>
		</div>
	</footer>
</body>
</html>