<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="index.html :: header (pageTitle='Register Owner')">
</head>
<body>

	<div id="LayoutHeaders">
		<h1 style="background-color: red; color: white;">SHOP-OWNER REGISTRATION</h1>
	</div>
	
	<form id='PureForm' class="pure-form pure-form-aligned" action="#" th:action="@{/registerOwner}" th:object="${owner}" method="post">
		<fieldset>
			<div class="pure-control-group">
				<label>First Name:</label>
				<input type="text" th:field="*{firstName}" required>
			</div>
			<div class="pure-control-group">
				<label>Last Name:</label>
				<input type="text" th:field="*{lastName}" required>
			</div>
			<div class="pure-control-group">
				<label>Email:</label>
				<input type="text" th:field="*{email}" required>
			</div>
			<div class="pure-control-group">
				<label>Password:</label>
				<input type="password" th:field="*{encryptedPassword}" required>
			</div>
			<div class="pure-control-group">
				<label>Phone Number:</label>
				<input type="text" th:field="*{phoneNumber}" required>
			</div>
			<div class="pure-control-group">
				<label>Street:</label>
				<input type="text" th:field="*{address.street}" required>
			</div>
			<div class="pure-control-group">
				<label>City:</label>
				<input type="text" th:field="*{address.city}" required>
			</div>
			<div class="pure-control-group">
				<label>Province:</label>
				<input type="text" th:field="*{address.province}" required>
			</div>
			<div class="pure-control-group">
				<label>Postal Code:</label>
				<input type="text" th:field="*{address.postal}" required placeholder="A1B2C3, 12345, 12345-6789">
			</div>
			<div style="color:red; text-align:center;" th:each="error:${errorMessage}" th:text="${error}"></div>
		
			<div class="pure-controls">
				<input type="submit" value="Submit" class="pure-button pure-button-primary">
			</div>
		</fieldset>
	</form>
	
	<footer th:insert="index.html :: footer"></footer>
	
</body>
</html>