@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');



body{
	font-family: 'Josefin Sans', sans-serif;
}

.map {
	border-left: 1px solid #fff;
  	position: absolute;
  	left: 30%;
  	width: 66.6666%;
  	top: 0;
  	bottom: 0;
}

.pad2 {
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#search {
	margin-top: 5%;
	margin-left: 5%;
}

#results{
	position: relative;
	text-align: center;
	top:100px;
}

#LayoutHeaders{
	margin-top: 5%;
	text-align: center;
}

#AccountInformation{
	text-align: center;
}

form{
	position: absolute;
    top: 50%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

footer{
	position: fixed;	
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cornsilk;
    color: white;
    text-align: center;
    height: 5%;
    color: black;
}

input[type=submit]{
	background-color: #4CAF50;
}
input[type=submit]:hover{
	opacity:0.8;
}

.alert{
	color:red;
}

#appointments{
	text-align: center;
}

#shops{
	text-align: center;
}

.logout{
	position: relative;
	top: 300px;
	left: 100px;
}