<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="index.html :: header (pageTitle='Register Owner')">
</head>
<body>

	<div id="LayoutHeaders">
		<h1 style="background-image: linear-gradient(to right, #ff0000, #f30000, #e80000, #dc0000, #d10000, #d10000, #d10000, #d10000, #dc0000, #e80000, #f30000, #ff0000); color: white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">SHOP-OWNER REGISTRATION</h1>
	</div>
	
	<form id='PureForm' class="pure-form pure-form-aligned" action="#" th:action="@{/addShop}" th:object="${shop}" method="post">
		<fieldset>
			<div class="pure-control-group">
				<label>Name of Shop:</label>
				<input type="text" th:field="*{name}">
			</div>
			<div class="pure-control-group">
				<label>Phone Number:</label>
				<input type="text" th:field="*{phoneNumber}">
			</div>
			<div class="pure-control-group">
				<label>Address:</label>
				<input type="text" th:field="*{address}">
			</div>
			<div class="pure-control-group">
				<table class="pure-table">
					<thead>
				        <tr>
				            <th>Brand</th>
				            <th>Supported</th>
				        </tr>
				    </thead>
				    <tbody>
				    <!-- Connect the SQL brand list values to these -->
				    	<div th:each="brand : ${brandList}">
				        	<tr class="pure-table-odd">
					            <td><span th:text="${brand.name}"></span></td>
					            <td><input type="checkbox" id="${brand.name}.chkbox"/></td>
					        </tr>
					    </div>
				    </tbody>
				</table>
			</div>
			
			<div class="pure-controls">
				<input type="submit" value="Submit" class="pure-button pure-button-primary">
			</div>
		</fieldset>
	</form>
	
	<footer th:insert="index.html :: footer"></footer>
	
</body>
</html>